.Nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 8%;
  background: linear-gradient(#474e68, #2c5364);
  box-shadow: 0 0 20px black;
  color: white;
  align-items: center;
  text-align: center;
}

.navIcon {
  height: 60px;
  width: 60px;
}

.homeButton {
  margin-top: 70px;
}

.newPostButton {
  margin-top: 75px;
}

.logoutButton {
  margin-top: 220px;
}

.profile-pic {
  margin: 10px 0 0 0;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: white;
}
